bird_detection_audio/birds/*
bird_detection_audio/richfield_birds/*
bird_detection_audio/richfield_birds_split/*
bird_detection_audio/richfield_birds_split_clean/*
bird_detection_audio/dublin_dl_birds/*
bird_detection_audio/dublin_dl_birds_split/*
bird_detection_audio/model_history/*
bird_detection_audio/filenames/*
bird_detection_audio/models/*
bird_detection_audio/pred_df_softmax/*
bird_detection_audio/y_pred/*
bird_detection_audio/y_true/*
bird_detection_audio/confusion_matrix/*
bird_detection_audio/results/*
bird_detection_audio/02032022_comparison_results/*
bird_detection_audio/20220302_comparison_results2/*
bird_detection_audio/20220303_comparison_results/*
bird_detection_audio/checkpoints/*
bird_detection_audio/birdnet_model/*
bird_detection_audio/20220301_comparison_results/*
bird_detection_audio/20220307_comparison_results/*
audio_detection_r/